[submodule "Koturn.NativeCode"]
	path = Koturn.NativeCode
	url = https://github.com/koturn/Koturn.NativeCode
[submodule "Koturn.Zopfli"]
	path = Koturn.Zopfli
	url = https://github.com/koturn/Koturn.Zopfli
[submodule "Koturn.CommandLine"]
	path = Koturn.CommandLine
	url = https://github.com/koturn/Koturn.CommandLine
