[submodule "NativeCodeSharp"]
	path = NativeCodeSharp
	url = https://github.com/koturn/NativeCodeSharp
[submodule "Koturn.Zopfli"]
	path = Koturn.Zopfli
	url = https://github.com/koturn/Koturn.Zopfli
[submodule "ArgumentParserSharp"]
	path = ArgumentParserSharp
	url = https://github.com/koturn/ArgumentParserSharp
